@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
}

* {
  word-break: auto-phrase;
  line-break: strict;
  overflow-wrap: anywhere;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}
